:root {
    --background-color: #1e1e1e;
    --border-color: #ffffff1a;
    --shadow-color: #0000004d;
    --primary-text-color: white;
    --secondary-text-color: black;
    --primary-color: #ec1671;
    --primary-hover-color: #c0115d;
    --primary-link-color: white;
}
