:root {
    --background-color: #fdf6e3;
    --border-color: #eee8d5;
    --shadow-color: #bdae93;
    --primary-text-color: #657b83;
    --secondary-text-color: #93a1a1;
    --primary-color: #fec603;
    --primary-hover-color: #e6b800;
    --primary-link-color: #b88600;
}
