:root {
    --background-color: #191414;
    --border-color: #282828;
    --shadow-color: #00000080;
    --primary-text-color: #ffffff;
    --secondary-text-color: #b3b3b3;
    --primary-color: #1db954;
    --primary-hover-color: #1ed760;
    --primary-link-color: #1db954;
}