:root {
    --background-color: #0e0e10;
    --border-color: #262626;
    --shadow-color: #00000099;
    --primary-text-color: #ffffff;
    --secondary-text-color: #adadb8;
    --primary-color: #9146ff;
    --primary-hover-color: #772ce8;
    --primary-link-color: #bf94ff;
}
